/* Colours */

$Primary: #0D3857;
/*rgba(13, 56, 87)*/
$Secondary: #527d94;
/* rgba (82, 125, 148)*/
$Active-colour: #cda45e;
/*rgba (205, 164, 94)*/
$Highlight: #f27f3d;
/*rgba(242, 127, 61)*/
$text-colour: #ffffe8;
/*rgba (255, 255, 232)*/